/* Gets rid of whitespace */
* {
  margin: 0;
  padding: 0;
}
/* prevents scroll from showing random white */
html,
body {
  overflow: hidden;
}
/* Gets rid of scroll bar */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
