* {
  margin: 0;
  padding: 0;
}

html {
  background: #1e1a20;
}

/* html,
body
{
    overflow: hidden;
} */

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  padding-top: 15%;
  display: flex;
  align-items: flex-start; /* Aligns the content to the top */
  height: 100vh;
  position: relative;
  font-family: "Fira Sans", sans-serif;
  color: #ffeded;
  font-size: 6vmin; /* Slightly decreased the font size for h1 */
  padding-left: 10%;
  padding-right: 10%;
}

.introduction h1 {
  color: white; /* Default color for h1 */
  margin-bottom: 2px;
  font-size: 12vmin; /* Made h1 less big */
}

.introduction h2 {
  padding-top: 2.5%;
  font-size: 5vmin;
  color: white;
}

.highlighted-name {
  color: limegreen;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
